*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.detalhe-roupa img {
   
    width: 250px;
    height: 250px;
    padding: 5px;
    text-align: center;
   
}

.li2{
    color: black;
}
.texto-roupa {
    display: flex;
    justify-content: center;
    text-align: center;
}
.lista-roupa{
    display: flex;
    justify-content: center;
    text-align: center;
}
.detalhe-roupa{
    display: flex;
    justify-content: center;
}
footer {
    background-color: black;
    color: white;
    margin-top: 200px;
    text-align: center;

}

.lista-roupa ul li {
    color: black;
}
li {
    display: inline-block;
    margin: 10px;
    color: white;
}