@import url('https://fonts.cdnfonts.com/css/domotika-trial');
* {
    box-sizing: border-box;
    /*ativa modelo de caixa */
    margin: 0%;
    /*regula a margem exterior */
    padding: 0%;
    /*regula o espaçamento interno */
}
body {
    font-family: 'Florentia', sans-serif;
}

.lancamento {
    height: 300px;
    text-align: center;
    width: 310px;
    margin-top: 50px;
    margin: 15px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.lancamento:hover {
    display: inline-block;
    width: 315px;
    margin: 15px;
    padding: 10px;
    background-color: rgba(240, 240, 240, 0.788);
    border-radius: 10px;
    transform: translateY(-10px);
    transition: 0.5s;
    color: rgb(0, 0, 0);
}

li {
    display: inline-block;
    margin: 10px;
    color: white;
}

footer {
    background-color: black;
    color: white;
    margin-top: 200px;
    text-align: center;
}

.card1 img {
    display: inline-block;
    width: 250px;
    height: 250px;
    text-align: center;
}

section {
    text-align: center;
    display: flex;
    justify-content: center;
}

.card2 img {
    display: inline-block;
    width: 250px;
    height: 250px;
    text-align: center;
}