* {
    box-sizing: border-box;
    /*ativa modelo de caixa */
    margin: 0%;
    /*regula a margem exterior */
    padding: 0%;
    /*regula o espaçamento interno */
}

h2 {
    text-align: center;
    font-size: 45px;
}

.card img {
    display: inline-block;
    width: 250px;
    height: 250px;
    justify-content: center;
    text-align: center;
}

#roupa {
    text-align: center;
    display: flex;

}

#calçados {
    text-align: center;
    display: flex;

}

#acessorios {
    text-align: center;
    display: flex;

}

footer {
    background-color: black;
    color: white;
    margin-top: 200px;
    text-align: center;

}

li {
    display: inline-block;
    margin: 10px;
    color: white;
}

body {
    background-color: white;

}