* {
    box-sizing: border-box;
    /*ativa modelo de caixa */
    margin: 0%;
    /*regula a margem exterior */
    padding: 0%;
    /*regula o espaçamento interno */
}
.card-img img {
width: 250px;
height: 250px;
}
body {
    background-color: white;
    text-align: center;
}
h2 {
    color: black;
    font-size: 45px;
}
.card-img  {
  display: inline-block; 
    width: 300px;
    height: 300px;
    object-fit: contain;


}
.card-img:hover{
    transform: translateY(20PX);
}
li {
    display: inline-block;
    margin: 10px;
    color: white;
}
footer{
    background-color: black;
    color: white;
    margin-top: 200px;

}
