@import url('https://fonts.cdnfonts.com/css/heading-pro-wide-trial');
@import url('https://fonts.cdnfonts.com/css/domotika-trial');
@import url('https://fonts.cdnfonts.com/css/supernova-2');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

header {
    text-align: center;
}

body {
    font-family: 'Florentia', sans-serif;
}

#logo_principal {
    margin-left: -800px;
    padding: 0;
    padding-top: 10px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    font-family: 'Domotika Trial', sans-serif;
    margin: 10px;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 15px;
}

nav a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#logo_principal:hover {
    background-color: white;
}

/*Parte do Gabriel*/

div {
    display: flex;
    align-items: center;
    justify-content: center;

}

.item {
    display: inline-block;
    height: 250px;
    text-align: center;
    width: 340px;
    margin-top: 50px;
    margin: 15px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.item:hover {
    display: inline-block;
    width: 350px;
    margin: 15px;
    padding: 10px;
    background-color: rgba(240, 240, 240, 0.788);
    border-radius: 10px;
    transform: translateY(-20px);
    transition: 0.5s;
    color: rgb(0, 0, 0);
}

.item:hover>.texto_item {
    color: #000;
    transition: 0.5s;
}

.item img {
    width: 100%;
    border-radius: 10px;
}

.texto_item {
    color: rgb(255, 255, 255);
    text-align: center;
}

#icones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-color: #36577a
}

.banner {
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.4)),
        url(./imagens/banner_CHUTEIRA.jpg);
    background-size: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

}

.banner2 {
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.4)),
        url(./imagens/NIKE\ GAME.jpg);
    background-size: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

}

#banner-content {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#icones {
    font-family: 'Domotika Trial', sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);

}

.icones {
    height: 200px;
    text-align: center;
    width: 250px;
    margin-top: 50px;
    margin: 15px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}


.icones:hover {
    display: inline-block;
    width: 310px;
    margin: 15px;
    padding: 10px;
    background-color: rgba(240, 240, 240, 0.788);
    border-radius: 10px;
    transform: translateY(-20px);
    transition: 0.5s;

}

.icones img {
    width: 100%;
    border-radius: 10px;
}

li {
    display: inline-block;
    margin: 10px;
    color: white;
}

footer {
    background-color: black;
    color: white;
    margin-top: 200px;
    text-align: center;
}