* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

header {
    text-align: center;

}

#logo_principal {
    margin-left: -700px;
    padding: 0;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 15px;
}

nav a:hover {
    background-color: rgb(17, 17, 17);
    color: aliceblue;
     display: inline-flex;
    flex-direction: row;
}

#logo_principal:hover {
    background-color: white;
}

.titulos {
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 40px;
    text-align: center;
}

/*Parte do Gabriel*/
.container {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    padding: 30px;
    background-color: #c2894c
}

.container img {
    width: 920px;
}

div {
    text-align: center;
    background-color: black;

}

.item {
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    width: 400px;
    margin: 15px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.item img {
    width: 100%;
    border-radius: 10px;
}

.texto_item {
    color: rgb(255, 255, 255);
    text-align: center;
}

#icones {
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 40px;
    color: rgb(0, 0, 0);
}